body {
  margin-left: 40%;
  margin-top: 15%;
}

#Container {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
}

#Container > div {
  border: 1px solid;
  height: 90px;
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Container ~ div {
  margin-top: 30px;
}
#restart {
  background-color: rgb(231, 116, 116);
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
#status {
  color: rgb(40, 96, 2);
}
